.friend-request-container{
    display: flex;
    flex-wrap: wrap;
    margin: 1.5vmax;
}

.friend-request-container .friend-user-container{
    display: flex;
    flex-direction: column;
    margin: 2vmax;
    max-width: fit-content;
    border-radius: 15px;
    border: 1px solid black;
}

.friend-request-container .images img{
    max-width: inherit;
    border-radius: 15px;
}

.friend-request-container .btn-confirm{
    background-color: rgb(173, 168, 168);
    text-align: center;
}
.friend-request-container .name h3{
    padding: 0.5vmax;
    font-weight: 800;
    font-family: "Roboto";
    margin-left: 1vmax;
}
.friend-request-container .friends-count{
    display: flex;
    margin-left: 1.5vw;
    padding: 1vh;
}
.friend-request-container .friends-count img{
    margin-right: 1vmax;
    width: 2vw;
    height: 2vw;
    border-radius: 100%;
}
.friend-request-container button{
    margin: 0.2vmax 1vmax;
    padding: 0.5vmax;
    border-radius: 10px;
}
.friend-request-container .btn-delete{
    background-color: royalblue;
    color: white;
    text-align: center;
    font-family: "Roboto";
    font-weight: 500;
}