.sidebar {
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
    z-index: 100;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
    background-color: #1877f2;
}

.sidebarWrapper {
    padding: 20px;
}

.sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    /* background-color: lightgray; */
    background-color: lightblue;
    /* background-color: #1877f2; */
    padding: 0.75vmax;
    border-radius: 5px;
}

.sidebarListItem:hover ,.active{
    /* background-color: rgba(86, 83, 83, 0.794); */
    background-color: #1877f2;
    color: white;
}

.sidebarIcon {
    margin-right: 15px;
}

.sidebarButton {
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
}

.sidebarHr {
    margin: 20px 0;
}

.sidebarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
}


@media screen and (max-width: 600px) {
    .sidebarList span {
      display: block;
      /* visibility: hidden;  */
    }

    .sidebarListItem {
      background-color: transparent;
      padding: 0.75vmax 15px; /* Adjust padding for responsiveness */
    }
  
    .sidebarListItem:hover,
    .active {
      background-color: transparent;
      color: #1877f2;
    }
    .sidebarList{
        margin-left: -2vmax;
    }
    
    ::-webkit-scrollbar {
        width: 0px;
    }
  }
  

@media screen and (max-width:557px) {
    .sidebar{
        z-index: 100;
    }

}