  
  .login {
    width: 100vw;
    min-height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loginWrapper {
    width: 80%;
    height: 70%;
    display: flex;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 16px;
  }
  
  .loginLeft,
  .loginRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4vmax;
  }
  
  .loginRight {
    min-width: 51vw;
    background: #fff;
    border-radius: 16px;
    box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.1);
  }
  
  .loginLogo {
    font-size: 36px;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 10px;
  }
  
  .loginDesc {
    font-size: 18px;
    color: #555;
  }
  
  .loginBox {
    height: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  
  .loginInput {
    height: 50px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 16px;
    padding-left: 20px;
    margin-bottom: 15px;
  }
  
  .loginInput:focus {
    outline: none;
    border: 1px solid #1775ee;
  }
  
  .passwordInputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px;
  }
  
  .eye-icon {
    font-size: 20px;
    cursor: pointer;
    color: #777;
  }
  
  .loginButton,
  .loginRgisterButton {
    height: 50px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .loginButton {
    background-color: #1775ee;
  }
  
  .loginRgisterButton {
    background-color: #42b72a;
    width: 100%;
  }
  
  .loginRgisterButton:hover,
  .loginButton:hover {
    background-color: #155ab3;
  }
  
  .loginForgot {
    text-align: center;
    color: #1775ee;
    text-decoration: none;
    display: block;
    margin-top: 10px;
  }
  
  @media screen and (max-width:700px) {
    .loginWrapper{
        display: flex;
        flex-direction: column;
    }
  }