.post {
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68); 
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    margin: 30px 0;
}

.postWrapper {
    padding: 10px;
}

.postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postTopLeft {
    display: flex;
    align-items: center;
}

.postProfileImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.postUsername {
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
}

.postDate {
    font-size: 12px;
}

.postCenter {
    margin: 20px 0;
}

.postImg {
    margin-top: 20px;
    width: 100%;
    /* width: 40vw;
    height: 40vh; */
    max-height: 500px;
    object-fit: contain;
}

.postBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postBottomLeft {
    display: flex;
    align-items: center;
}

.likeIcon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.postLikeCounter {
    font-size: 15px;
}

.postCommenttext {
    cursor: pointer;
    border-bottom: 1px dashed gray;
    font-size: 15px;
}

.rightbarOnline3{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #32cd32;
    position: relative;
    top: 0px;
    border: 2px solid white;
    right: 5px;
}

.post-status-btn{
    padding: 0.75vmax;
    color:#ffffff;
    border-radius: 15px;
}

.Approved{
    background-color: green;
}
.Pending{
    background-color: yellow;
}
.Rejected{
    background-color: tomato;
}


@media screen and (max-width:580px) {
    .post{
        width: 90%;
        margin: 4vmax auto;
    }
    ::-webkit-scrollbar {
        width: 0px;
    }
    
}