@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,500&display=swap');


.receiver-header-container{
    background-color: #565656;
}
.receiver-header-info{
    display: flex;
    justify-content: space-between;
}
.receiver-header-info .receiver-header{
    display: flex;
    padding: 1vmax;
    justify-content: center;
    align-items: center;
}
.receiver-header-info .receiver-avatar{
    width: 10vh;
    height: 10vh;
}
.receiver-header-info .receiver-avatar img{
    width: inherit;
    height: inherit;
    border-radius: 50%;
}

.receiver-header-info .receiver-name{
    margin-left: 1vw;
    font-size: 1.2rem;
    font-family:"Roboto";
    color: white;
}

.receiver-header-container .receiver-header-info .side{
    display: flex;
    margin-right: 1vmax;
    justify-content: center;
    align-items: center;
}

.receiver-header-container .receiver-header-info .side > div{
    padding: 0.7vmax;
    /* transition: all 0.5s; */
    border-radius: 30px ;
    background-color: #dcd6d6d7;
    margin: 0px 0.5vmax;
}
.receiver-header-container .receiver-header-info .side > div:hover{
    background-color: #828282;

}


.receiver-header-container .receiver-header-info .side svg{
    font-size: 2rem;
}


/* message body starts here  */


.message-body-container{
    background-image: url("https://imgs.search.brave.com/dnBpniNkPnGwA1tcTMe_Wfj27PFyvo-0N4LnbLFQEuk/rs:fit:500:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJhY2Nlc3Mu/Y29tL2Z1bGwvMTI4/ODA5OS5qcGc");
    min-height: 35vh;
    background-position: center;
    background-size: cover;
    /* overflow-y: auto; */
}

.message-body-container .message ul{
    display: flex;
    flex-direction: column;
    /* max-width: 20vw; */
    word-break: break-all;
}


.message-body-container .message .text-msg {
    word-wrap: break-word;
    padding: 1vmax;
    border-radius: 15px;
    text-align: center;
    list-style: none;
    /* margin: 0.5vmax; */
    max-width: 100%;
    margin-right: 10px;
}
.main-message-container .message .text-msg p{
    padding: 0px;
    margin: 0px;
    max-height: 25vh;
    max-width: 30vw;
    word-wrap: break-word;
    overflow-y: auto;
}

.main-message-container .message .message-svg{
    height: 25px;
}

.message-body-container .message .rightSide ,.message-body-container .message .rightSide2 {
    background-color: #6a6565;
    color: white;
    align-self: flex-end;
    
}
.message-body-container .message .rightSide2 {
    background-color: unset;
}

.message-body-container .message .leftSide, .message .leftSide2 {
    background-color: #b2b2b2;
    align-self: flex-start;
    color: white;
}
.message-body-container .message .leftSide2 {
    background-color: unset;
}


.send-message .take-input{
    display: flex;
}

.send-message .take-input input[type="text"]{
    width: 100%;
    padding: 1vmax;
    font-size: 1.2rem;
    font-family: "Roboto";
}

.send-message .take-input button{
    width: 15%;
    background-color: #b2b2b2;
    padding: 1vmax;
    font-size: 1.2rem;
    font-family: "Roboto";
}
.send-message .take-input button:hover{
    background-color: #6a6565;
    
}

.main-message-container{
    display: flex;
}
.message-container{
    width: 80%;
}
.friends-container,.online-user-container{
    width: 15%;
    background-color: rgb(214, 229, 234);
    padding: 2vmax;
    text-align: center;
}

