a{
    text-decoration: none;
    color: black;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
    /* text-align: start;
    align-items: self-start; */
}
.btn{
    background-color: royalblue;
    color: white;
}
.btn:hover{
    background-color: rgb(27, 68, 192);
}