.sidebarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .sidebarFriendImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .sidearFriendName {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  @media screen and (max-width: 600px) {
    .sidebarFriendImg {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
  
    .sidearFriendName {
      font-size: 14px;
    }
  }
  
  